@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('/images/bg-intro-desktop.png');
    background-color:  hsl(0, 100%, 74%) ;
}

.hero {
    margin: 0 auto;
    display: flex;
    max-width: 1150px;
    margin-top: 2rem;
    min-height: 70vh;
}

.col {
    width: 50%;
    padding: 50px;
}


.col-left {
    align-self: center;
    color: white;
}

.free-trial {
    text-align: center;
    background-color: hsl(257, 36%, 53%);
    padding: 1px;
    color: white;
    margin-bottom: 30px;
    box-shadow: 0px 5px 2px hsl(0%, 100%, 65%) ;
}

.free-trial, .register {
    border-radius: 15px;
}

.register {
    background-color: white;
    padding: 25px;
}

.register__form {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: 10px;
}

input {
    padding: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-weight: 600;
}

.register__bottom {
    display: flex;
    flex-direction: column;
}

#btn {
    background-color: hsl(154, 59%, 51%);
    text-align: center;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 2px hsl(154, 59%, 43%);
}

span {
    color: hsl(249, 10%, 26%);
    font-size: 0.7rem;
    text-align: center;
}

.red-span {
    color: hsl(0, 100%, 74%) ;
}

.red-span:hover {
    color: hsl(0, 100%, 65%);
}


input:focus {
    outline: none !important;
    border:1px solid purple;
    box-shadow: 0 0 10px #719ECE;
  }
